*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navigation{
    height: 70px;
    background-color: aqua;
}

.container-image{
    height: 700px;
    background-color: blueviolet;
}

.container-table{
    height: 1000px;
    background-color: blue;
    
}

.container-DropBox{
    height: 500px;
    background-color: brown;
}

